<!doctype html>
<html>
<head>
    <title>Weather</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
           $('form').submit(function(){
            var api_key = '38ed520286ab541243ddee4e7fe64fab';
            var zip = $('input#zip').val();
            var country_code = $('input#country_code').val();

            $.get(`http://api.openweathermap.org/data/2.5/weather?zip=${zip},${country_code}&units=imperial&appid=${api_key}`, function(res){
                console.log(res)
                var html = '';

                
                html += `<p> ${res['name']}: ${res['weather'][0]['description']} </p>`;
                html += `<p> Temperature:${res['main']['temp']} F</p>`;
                html += `<p> Coord: ${res['coord'].lat}, ${res['coord'].lon}</p>`;
                $('#results').html(html);
            }, 'jsonp');
            return false;
           })
        });
    </script>
</head>
<body>

    <div id = 'wrapper'></div>
<div id="weather">
    <form>
        <label for='zip'>Zip:
            <input type='text' name='zip' id='zip'/>
        </label>
        <label for='country_code'>Country Code:
            <input type='text' name='country_code' id='country_code'/>
        </label>
        <input type='submit' name='submit'/>
    </form>

    <div id="results"></div>